body {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: bisque;
        text-align: center;
}

a {
    font-size: larger;
    
}

h1, h2, h3, h4, h5 {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.disc-card img{
    height: 300px;
    width: 300px;
}
.disc-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
}