body {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: bisque;
}

h1 {
    display: flex;
    flex-direction: row;
    text-align: center;
}

#destroyer, #buzzz, #luna, #wraith, #jawbreaker, #firebird {
    height: 250px;
    width: 250px;
    flex-direction: row;
    border: 2px 2px;
    border-radius: 15px;
    padding: 2px;
    background-color: darkslategray;

}

