body {
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: bisque;
        text-align: center;
        font-family: 'Gluten';
        font-family: 'Roboto', sans-serif;
}

a {
    font-size: larger;
    font-family: 'Special Elite', cursive;
    
}

h1, h2, h4, h5 {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 2em;
}

h3 {
    text-decoration: underline;
    font-size: 1.5em;
}

.disc-card img{
    height: 300px;
    width: 300px;
}
.disc-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 100%;
}